@charset "UTF-8";

:root {
  // 页面默认字体大小
  --theme-normal-text-size: 14px;
  // 页面背景色
  --theme-base-bg: #F2F4F7;
  // 页面二级背景色
  --theme-base-second-bg: #FFF;

  // 主要文字颜色
  --theme-text-primary-color: #667085;
  // 次要文字颜色
  --theme-text-second-color: #606266;

  // 菜单栏的背景色
  //--theme-nav-first-bg: #1e222d;
  --theme-nav-first-bg: #FFF;
  // 菜单栏的文字颜色
  //--theme-nav-first-color: hsla(0,0%,100%,.7);
  --theme-nav-first-color: #333;
  // 菜单栏选中的背景色
  --theme-nav-first-active-bg: var(--color-primary);
  // 菜单栏选中的文字颜色
  --theme-nav-first-active-color: #FFF;
  // 菜单栏悬浮的背景色
  --theme-nav-first-hover-bg: rgba(var(--primary),.1);
  // 菜单栏悬浮的文字颜色
  --theme-nav-first-hover-color: #333;

  // 二级菜单栏的背景色
  --theme-nav-second-bg: #FFF;
  // 二级菜单栏的文字颜色
  --theme-nav-second-color: #333;
  // 二级菜单栏选中的背景色
  --theme-nav-second-active-bg: rgba(var(--primary),.1);
  // 二级菜单栏选中的文字颜色
  --theme-nav-second-active-color: var(--color-primary);
  // 二级菜单栏悬浮的背景色
  --theme-nav-second-hover-bg: #f7f7f7;
  // 二级菜单栏悬浮的文字颜色
  --theme-nav-second-hover-color: var(--color-primary);

  // 顶部布局高度
  --layout-header-nav-height: 50px;
  // 侧边栏顶部高度
  --layout-sidebar-header-height: 0;
  // 侧边栏底部高度
  --layout-sidebar-bottom-height: 0;

  // 分栏菜单
  // 菜单栏总宽度
  --sidebar-width: 264px;
  // 菜单栏第一级宽度
  --sidebar-first-width: 124px;
  // 菜单栏第二级宽度
  --sidebar-second-width: 140px;
  // 菜单栏折叠后的宽度
  --sidebar-collapse-width: 64px;

  // 垂直菜单
  // 菜单栏总宽度
  --sidebar-vertical-width: 180px;

  // 主题色
  --primary: 21, 91, 212;
  --color-primary: rgb(var(--primary));
  --color-success: #5bd415;
  --color-warning: #ed6a18;
  --color-danger: #d42f15;
  --color-info: #909399;
}
